
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/mulish-v12-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mulish-v12-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-regular - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/mulish-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mulish-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-600 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/mulish-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mulish-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-700 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src:  url('../fonts/mulish-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mulish-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

ul,
ol {
  list-style: none;
}

body {
  background-color: #E5E5E5;
  list-style: none;
  font-family: 'Mulish', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;

}

.container {
  width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

/* header */

.site-header {
  padding: 80px 0;
}

.site-header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header-list {
  display: flex;
}

.site-header-item {
  margin-left: 40px;
}

.site-header-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #1F1534;
  opacity: 0.5;
}

.site-header-link-active {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

/* hero */

.hero-content {
  width: 426px;
}

.hero-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  margin-bottom: 25px;
  margin-top: 35px;
}

.hero-text {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
  margin-bottom: 45px;
}

.hero-link {
  background-color: #458FF6;
  border-radius: 55px;
  padding: 0 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #FFFFFF;
  padding: 0 45px;
}

.hero-block {
  display: flex;
  margin: 0 41px;
  justify-content: space-between;
}

/* .hero-content, .hero-img-block {
 border: 1px solid red;
} */

/* service */

.service {
  padding: 83px 0;
}

.service-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  text-align: center;
  margin-bottom: 26px;
}

.service-line {
  background-color: #000000;
  border-radius: 5px;
  width: 56px;
  height: 2px;
  display: block;
  margin: 0 auto;
  margin-bottom: 33px;
}

.service-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #7D7987;
  margin-bottom: 50px;
  width: 952px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.service-img-block {
  margin-bottom: 19px;
}

.service-sub-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
}

.service-sub-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
}

.service-item {
  width: 350px;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 62px 52px 47px 36px;
}

.service-list {
  width: 1123px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-item {
  margin-bottom: 34px;
}

.service-link {
  border: 1.4px solid #458FF6;
  border-radius: 55px;
  padding: 0 51px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #458FF6;
  margin: 5% 40%;
}

/* leading */

.leading {
  padding: 0 83px;
}

.leading-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  width: 481px;
  margin-bottom: 26px;
}

.leading-line {
  background: #000000;
  border-radius: 10px;
  width: 56px;
  height: 2px;
  display: block;
  margin-bottom: 31px;
}

.leading-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

}

.leading-text {
  width: 450px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  padding-bottom: 37px;
}

.leading-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #458FF6;
  border: 1.4px solid #458FF6;
  border-radius: 55px;
  padding: 0 52px;
}

/* download */

.download-title {

  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}

.download-sub-title {
  margin-bottom: 60px;
  width: 380px;
}

.download-line {
  background: #000000;
  border-radius: 6px;
  width: 56px;
  height: 2px;
  display: block;

  margin-bottom: 31px;
}

.download-text {
  width: 420px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  padding-bottom: 61px;
}

.download-link {
  border: 1.4px solid #458FF6;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  display: flex;
  align-items: center;
  color: #458FF6;
  display: inline-block;
  padding: 0 50px;
}

.download-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-img {
  padding-bottom: 269px;
  margin-top: 190px;
}

/* edward-bro */

.edward-bro {
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  width: 1120px;
  height: 420px;

}

.edward-title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
  padding-top: 61px;
  padding-bottom: 25px;
}

.edward-line {
  background-color: #FFFFFF;
  border-radius: 6px;
  color: #FFFFFF;
  width: 56px;
  height: 2px;
  display: block;
  margin: 0 auto;
}

.edward-sub-img {
  background-color: #458FF6;
  border-radius: 70px;
  border: 4px solid #FFFFFF;
}

.edward-sub {
  padding: 70px 29px 86px 124px;
}

.edward-content {
  display: flex;
  align-items: center;

}

.edward-sub-title {
  width: 184px;
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  color: #FFFFFF;
}

.edward-sub-text {
  width: 119px;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.85);

}

.edward-text-2 {
  width: 420px;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);

}

.edward-sub-block {
  padding-left: 140px;
}

.edward-block {
  align-items: center;
  display: flex;
}

/* vector */
.vector {
  align-items: center;
  display: flex;
}

.dot-list {
  align-items: center;
  display: flex;
  /* margin: 0 auto; */
  margin-top: -18px;
}

.vector-left {
  width: 50px;
  font-size: 37px;
  font-weight: 900;
  text-decoration: none;
  color: #5B9BF3;
  /* margin: 0 auto; */
  margin-left: 400px;
  margin-right: 30px;
  opacity: 0.5;
}

.vector-right {
  width: 50px;
  font-size: 37px;
  font-weight: 900;
  text-decoration: none;
  color: #5B9BF3;
  /* margin: 0 auto; */
  margin-left: 30px;


}

.dot-active {
  color: #5B9BF3;
  width: 10px;
  font-size: 46px;
  font-weight: 900;
}

.dot {
  color: #5B9BF3;
  opacity: 0.3;
  width: 10px;
  font-size: 46px;
  font-weight: 900;
  padding: 0 15px;
}

.check {
  padding-top: 180px;

}

/* .check-block {
 align-items: center;
 } */
.check-title {
  width: 426px;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  padding-bottom: 26px;
}

.check-line {
  background: #000000;
  border-radius: 5px;
  width: 56px;
  height: 2px;
  display: block;
}

.check-title,
.check-line {
  margin: 0 auto;
}

.check-list {
  padding-top: 72px;
  display: flex;
  align-items: center;
}

.check-sub-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  color: #000000;
  width: 354px;
  padding-bottom: 12px;
  padding-left: 56px;
}

.check-img-item {
  background-color: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}

.check-img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border: 6px solid #FFFFFF;
  padding: 0 4px;
}

.check-text {
  width: 266px;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: #7D7987;
  padding-bottom: 25px;
  padding-left: 65px;
}

.check-read {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ED;
  padding-left: 65px;
  padding-bottom: 70px;
}

.check-link {
  border: 1.4px solid #458FF6;
  border-radius: 55px;
  width: 190px;
  padding: 20px 60px;
  display: block;
  margin: 0 auto;
  margin-top: 69px;
  color: #458FF6;
  margin-bottom: 206px;
}

/* footer */

.footer-list {
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  display: flex;
  align-items: center;

}

.footer-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  width: 391px;
  padding-bottom: 31px;
}

.footer-sub-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  width: 391px;
  padding-bottom: 113px;

}

.footer-sub-img {
  padding-bottom: 21px;
}

.footer-title {
  width: 92px;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  color: #FFFFFF;
}

.footer-last-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #FFFFFF;
  display: block;
}

.footer-item,
.footer-block {
  /* padding-bottom: 30px; */
  /* padding-left: 2250px; */
  margin: 0 auto;
}

.footer-item {
  margin-left: 140px;
  margin-top: 100px;
}

.footer-sub-img {
  padding-top: 10px;
}